#canvas {
    border: 1px solid black;
    background-color: #ffffff;
}

#script-input {
    height: 50%;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
}

#script-input:focus {
    outline: none;
}

#script-output {
    height: 50%;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
}

#button-box {
    margin-top: 0.5rem;
}

.btn-large i {
    font-size: 3rem;
}